<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование статьи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Редактирование статьи</h1>
    <div th:each="el : ${post}">
        <form method="post"><br>
            <input type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите краткое описание" class="form-control"><br>
            <textarea th:text="${el.full_text}" name="full_text" placeholder="Введите текст статьи" class="form-control"/><br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>

</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>